<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Programming Contest Framework</title>
</head>
<body>
	<h1>Programming contest framework</h1>

	<form method="POST" action="/api/signup">
		<legend>Sign up</legend>
		<label for="username">Username</label>
		<input id="username" type="text">
		<label for="password">Password</label>
		<input id="password" type="password">
		<input type="submit" value="Sign up">
	</form>
</body>
</html>
